body {
  /* background-color: rebeccapurple; */
  background-color: rgb(11, 14, 5);
}
.vissible {
  color: white;
}
.gold-fills {
  color: white;
  display: flex;
  height: 20vh;
  width: 80vw;
  justify-content: center;
  border: 10px dashed rgba(179, 74, 74, 0.5);
  margin: 20px;
  box-shadow: 0 0 0 10px #655, 0 0 0 15px hotpink, 0 0 0 20px lime inset; /*adding a shadow on top of a shadow using bax shadow separated by a comma*/
  /* in order for them to show it needs to have the spread radius increased so the others are not hiding them */
}
h1 {
  justify-content: center;
  font-weight: 80px;
  font-size: 50px;

  background-image: url(../imgs/gold\ fills\ the\ cracks\ and\ make\ new.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.yellowgreen {
  background-color: grey;
  height: 50vh;
}
.logo {
  background-position: right 20px bottom 10px;
}
